*.bak
*.backup
*.old
*.tmp
*.swp
*.swo
*~
*.log
*.log.*
.cache/
cache/
tmp/
MCSR/temp/
private-backup/
**/accounts.json
**/service.json
**/usercache.json
**/session.lock
**/hs_err_pid*.log
**/logs/
**/crash-reports/
**/screenshots/
**/hermes/
**/mcsrranked/replay-cached/
**/mcsrranked/temp-replay/
**/saves/Ny verden*/
**/saves/mcsrranked #*/
__pycache__/
.DS_Store
*.pkg.tar
*.pkg.tar.*
*.iso
*.img
*.core
*.dump
.git/
