*.bak
*.backup
*.old
*.tmp
*.swp
*.swo
*~
*.log
*.pyc
*.class
*.jar
*.core
core

.cache/
tmp/
MCSR/temp/

__pycache__/
.DS_Store
.git/

home/.local/state/
home/.local/share/chromebook-remote-web/
home/.local/share/input-recorder/recordings/

home/.local/bin/jay.real
home/.local/bin/jay-*-backup-*
applications/gocrosshair/gocrosshair
