[Desktop Entry]
Type=Application
Name=Input Remapper
Icon=input-remapper
Exec=input-remapper-gtk
Terminal=true
Categories=Settings
Comment=GUI for device specific key mappings
Path=
StartupNotify=false
